<!doctype html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="../img/favicon.png" type="image/png">
        <title>MeetMe Personal</title>
		<!-- Icons -->
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../vendors/flaticon/flaticon.css">
        <!-- main css -->
        <link rel="stylesheet" href="../vendors/linericon/style.css">
        <link rel="stylesheet" href="../css/style-dash.css">
        <link rel="stylesheet" href="../css/responsive-dash.css">
    </head>
    <body>
          <!--================Main Area =================-->
         <div class="main">
             <div class="container">
             <!--=============modal Banner Area =================-->
             <section class="menu_banner_area">
                 <div class="user-icon">
                     <img src="../img/personal.jpg" alt="">
                     <a href="./profile.html"><script>document.write(localStorage.getItem("name"))</script></a>
                 </div>
                 <div class="navbar-nav">
                    <ul class="list basic_info">
                        <li><a href="index.html" ><i class="lnr lnr-chart-bars"></i><p> Dashboard</p></a></li>
                        <li><a href="./blogs.html"><i class="lnr lnr-license"></i> <p>Blogs</p></a></li>
                        <li><a href="./projects.html"><i class="lnr lnr-rocket"></i> <p>Projects</p></a></li>
                        <li><a href="./comments.html"><i class="lnr lnr-bubble"></i><p> Comments</p></a></li>
                        <li><a href="./subscribers.html"><i class="lnr lnr-pushpin"></i><p> Subscribers</p></a></li>
                        <li><a href="./messages.html"><i class="lnr lnr-envelope"></i> <p>Messages</p></a></li>
                    </ul>
                 </div>
                 <div class="logout_btn">
                     <a href="#"><i class="lnr lnr-exit"></i> Logout</a>
                 </div>
             </section>
             <!--================Menu Banner Area =================-->
             <!--================Tables Banner Area =================-->
             <section class="tables_banner_area">
                 <div class="main_title">
                     <button class="navbar-toggler" >
                         <span class="icon-bar"></span>
                         <span class="icon-bar icon-bar-a"></span>
                         <span class="icon-bar icon-bar-b"></span>
                        </button>
                        <span class="main_text">
                            <h2>Admin profile</h2>
                            
                        </span>
                    </div>
                <div class="tables_flex">
				<div class="main_content ">
                    
                    
                </div>
				<div class="main_content profile_widget">
                    <aside class="single_sidebar_widget ">
                        <img class="author_img rounded-circle" src="../img/blog/author.png" alt="">
                        <h4><script>document.write(localStorage.getItem("name"))</script></h4>
                        <p>Administrator</p>
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have it's supporters andits detractors.</p>
                        <div class="br"></div>
                    </aside>
                    
                </div>
                </div>
                </section>
            </div>
				<div class="main_footer">

                </div>

             </section>
             <!--================Tables Banner Area =================-->
            </div>
         </div>
           <!--================Main Area =================-->

		 <!--  JavaScript -->
		 <script src="../js/session.js"></script>
		 <script src="../js/main-dash.js"></script>
		 <script src="../js/profile.js"></script>
         
		 <!--  JavaScript -->
    </body>
	
	</html>