<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="container">
        <div class="footer_inner">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h3>About Me</h3>
                    </div>
                    <p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,</p>
                    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Eddy Uwambaje</p>
                </aside>
                <aside class="f_widget news_widget">
                    <div class="f_title">
                        <h3>Newsletter</h3>
                    </div>
                    <p>Stay updated with our latest trends</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="#" method="get" class="subscribe_form relative">
                            <div class="Newsletter_form input-group">
                                <input name="EMAIL" placeholder="Enter email address"  type="email">
                                <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                            </div>				
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </aside>
                <aside class="f_widget social_widget">
                    <div class="f_title">
                        <h3>Follow Me</h3>
                    </div>
                    <p>Let us be social</p>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </aside>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->

 <!--  JavaScript -->
 <script src="/js/main.js"></script>
 <!--  JavaScript -->
</body>

</html>