<!doctype html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>MeetMe Personal</title>
		<!-- Icons -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/flaticon/flaticon.css">
        <!-- main css -->
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
         <!--================Header Menu Area =================-->
		 <header class="header_area">
            <div class="container">
            <div class="navbar">
            <div class="navbar-brand">
				<img src="img/logo.png" class="logo_h" alt="">
			</div>
			<button class="navbar-toggler" >
				<span class="icon-bar"></span>
				<span class="icon-bar icon-bar-a"></span>
				<span class="icon-bar icon-bar-b"></span>
			</button>
			<div class="navbar-nav">
				<ul class="menu_nav list">
					<li><a href="./index.html"> HOME</a></li>
					<li><a href="./about.html"> ABOUT</a></li>
					<li><a href="./project.html"> PROJECTS</a></li>
					<li><a href="./blog.html"> BLOG</a></li>
					<li><a href="./contact.html"> CONTACT</a></li>
				</ul>
				<a href="./login.html" class="button_nav">LOGIN</a>
			</div>
            </div>
            </div>
        </header>
        <!--================Header Menu Area =================-->
       
		<!--================Home Banner Area =================-->
		<section class="home_banner_area">
			<div class="container">
			<div class="media">
						 <div class="banner_content">
						 
							 <img src="img/personal.jpg" alt="">
						
						 <div class="media-body">
							 <div class="personal_text">
								 <h6>Hello Everybody, i am</h6>
								 <h3>Eddy Uwambaje</h3>
								 <h4>Junior UI/UX Developer</h4>
								 <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
								 <ul class="list basic_info">
									 <li><a href="#"><i class="lnr lnr-calendar-full"></i> 31st December, 2001</a></li>
									 <li><a href="#"><i class="lnr lnr-phone-handset"></i> (250) 785 850 860</a></li>
									 <li><a href="#"><i class="lnr lnr-envelope"></i> uwambajeddy@gmail.com</a></li>
									 <li><a href="#"><i class="lnr lnr-home"></i> Rwanda, kigali</a></li>
								 </ul>
								 <ul class="list personal_social">
									 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
									 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
									 <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								 </ul>
							 </div>
						 </div>
					 </div>
					 </div>
				 
		 </div>
	 </section>
		<!--================Home Banner Area =================-->
		 <!--================Welcome Area =================-->
		 <section class="welcome_area ">
        	<div class="container">
        		<div class="welcome_inner">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
        					<div class="welcome_icons">
        						<div class="welcome_icon">
        							<div class="wel_item">
        								<i class="lnr lnr-database"></i>
        								<h4>$2.5M</h4>
        								<p>Total Donation</p>
        							</div>
        						</div>
        						<div class="welcome_icon">
        							<div class="wel_item">
        								<i class="lnr lnr-book"></i>
        								<h4>1465</h4>
        								<p>Total Projects</p>
        							</div>
        						</div>
        						<div class="welcome_icon">
        							<div class="wel_item">
        								<i class="lnr lnr-users"></i>
        								<h4>3965</h4>
        								<p>Total Volunteers</p>
        							</div>
        						</div>
        					</div>
        				</div>
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>After Effects <span class="counter">85</span>%</h4>
									<div class="progress_br ">
										<div class="progress">
											<div class="progress-bar progress-bar-a" ></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Photoshop <span class="counter">90</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar progress-bar-b" ></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Illustrator <span class="counter">70</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar progress-bar-c" ></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Sublime <span class="counter">95</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar progress-bar-d" ></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Sketch <span class="counter">75</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar progress-bar-e" ></div>
										</div>
									</div>
								</div>
							</div>
        				</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
		
		<!--================Testimonials Area =================-->
		<section class="testimonial_area">
			<div class="container">
				<div class="main_title">
					<h2>Testimonials</h2>
        			<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        		</div>
				<div class="main_content">
					
					<div class="item">
						<div class="testi_item">
							<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>
							<h4>Fanny Spencer</h4>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star-half-o"></i></a>
						</div>
					</div>
					<div class="item">
						<div class="testi_item">
							<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>
							<h4>Fanny Spencer</h4>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star-half-o"></i></a>
						</div>
					</div>
					<div class="item">
						<div class="testi_item">
							<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>
							<h4>Fanny Spencer</h4>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star-half-o"></i></a>
						</div>
					</div>
				
				</div>
			</div>
		</section>
		 <!--================End Testimonials Area =================-->
		  <!--================Footer Area =================-->
		  <footer class="footer_area">
        	<div class="container">
        		<div class="footer_inner">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>About Me</h3>
        					</div>
        					<p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,</p>
        					<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Eddy Uwambaje</p>
        				</aside>
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Newsletter</h3>
        					</div>
        					<p>Stay updated with our latest trends</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="#" method="get" class="subscribe_form relative">
                                	<div class="Newsletter_form input-group">
                                        <input name="EMAIL" placeholder="Enter email address"  type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>				
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
        				</aside>
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</aside>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->

		 <!--  JavaScript -->
		 <script src="./js/main.js"></script>
		 <!--  JavaScript -->
    </body>
	
	</html>