<% include _header.ejs%>
       
		<!--================login Banner Area =================-->
		<section class="login_banner_area">
			<div class="container">
                <form class="contact_form" action="#" method="post">
                    <h2>Send reset password email</h2>
                    <div class="contact_form_text">
                        <div class="form-group form-group_icon">
                            <i class="fa fa-envelope"></i>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                        </div>
                        <button type="submit" value="submit" class="btn submit_btn">Send</button>
                    </div>
                    
                </form>
		 </div>
	 </section>
		<!--================login Banner Area =================-->
		<% include _footer.ejs%>