<%- include('_header')%>

<!--================login Banner Area =================-->
<section class="login_banner_area">
  <div class="container">
    <form class="contact_form" action="#" method="post">
      <h2>Enter your email</h2>
      <div class="contact_form_text">
        <div class="form-group form-group_icon">
          <i class="fa fa-envelope"></i>
          <input type="email" class="form-control" id="email" name="email" placeholder="email" />
        </div>
        <div class="submit_btn_disable_reg disible-control"></div>
        <button type="submit" value="submit" id="send-forgot" class="btn submit_btn">
          Send
        </button>
      </div>
    </form>
  </div>
</section>
<!--================login Banner Area =================-->
<script src="/js/forgotpassword.js"></script>
<%- include('_footer')%>