<div class="hide popup popup-warning">
    <i class="lnr lnr-warning"></i>
    <div class="popup-message">
        <p></p>
    </div>
</div>
<div class="hide popup popup-failure">
    <i class="lnr lnr-cross"></i>
    <div class="popup-message">
        <p></p>
    </div>
</div>
<div class="hide popup popup-success">
    <i class="lnr lnr-checkmark-circle"></i>
    <div class="popup-message">
        <p></p>
    </div>
</div>
<script src="/js/popup.js"></script>