<div class="hide popup popup-warning">
  <i class="lnr lnr-warning"></i>
  <div class="popup-message">
    <p></p>
  </div>
</div>
<div class="hide popup popup-failure">
  <i class="lnr lnr-cross"></i>
  <div class="popup-message">
    <p></p>
  </div>
</div>
<div class="hide popup popup-success">
  <i class="lnr lnr-checkmark-circle"></i>
  <div class="popup-message">
    <p></p>
  </div>
</div>
<div class="hide popup popup-loading">
  <i class="fa fa-refresh" aria-hidden="true"></i>
  <div class="popup-message">
    <p></p>
  </div>
</div>

<div class="read_block">

</div>
<section class="modal_banner_area modal_banner_read">
  <h2></h2>
  <div class="contact_form">
    <p></p>
  </div>
</section>


<script src="/js/popup.js"></script>