<% include _header.ejs%>
       
		<!--================Home Banner Area =================-->
		<section class="home_banner_area_lil">
			<div class="container">
			<div class="media">
                <div class="banner_content ">
                    <h2>Projects</h2>
                    <div class="page_link">
                        <a href="/" class="page_link_a">Home</a>
                        <a href="/projects">Projects</a>
                    </div>
                </div>
					 </div>
				 
		 </div>
	 </section>
		<!--================Home Banner Area =================-->
		
		<!--================Home Gallery Area =================-->
        <section class="home_gallery_area">
        	<div class="container">
        		<div class="main_title">
        			<h2>My Latest Featured Projects</h2>
        			<p>Who are in extremely love with eco friendly system.</p>
        		</div>
        		<div class="main_content">
        			
					<div class="h_gallery_item">
						<div class="g_img_item">
							<img class="img-fluid" src="img/gallery/project-1.jpg" alt="">
							<a class="light" href="img/gallery/project-1.jpg"><img src="img/gallery/icon.png" alt=""></a>
						</div>
						<div class="g_item_text">
							<h4>3D Helmet Design</h4>
							<p>Client Project</p>
						</div>
					</div>
					
					<div class="h_gallery_item">
						<div class="g_img_item">
							<img class="img-fluid" src="img/gallery/project-1.jpg" alt="">
							<a class="light" href="img/gallery/project-1.jpg"><img src="img/gallery/icon.png" alt=""></a>
						</div>
						<div class="g_item_text">
							<h4>3D Helmet Design</h4>
							<p>Client Project</p>
						</div>
					</div>
					
					<div class="h_gallery_item">
						<div class="g_img_item">
							<img class="img-fluid" src="img/gallery/project-1.jpg" alt="">
							<a class="light" href="img/gallery/project-1.jpg"><img src="img/gallery/icon.png" alt=""></a>
						</div>
						<div class="g_item_text">
							<h4>3D Helmet Design</h4>
							<p>Client Project</p>
						</div>
					</div>
					
        		</div>
        	</div>
        </section>
		<!--================End Home Gallery Area =================-->
		
		<% include _footer.ejs%>