<%- include('_header')%>

<!--================login Banner Area =================-->
<section class="login_banner_area">
  <div class="container">
    <form class="contact_form" action="#" method="post">
      <h2>Signup</h2>
      <div class="contact_form_text">
        <div class="form-group form-group_icon">
          <i class="fa fa-user"></i>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name" />
        </div>
        <div class="form-group form-group_icon">
          <i class="fa fa-envelope"></i>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" />
        </div>
        <div class="form-group form-group_icon">
          <i class="fa fa-lock"></i>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" />
        </div>
        <div class="form-group form-group_icon">
          <i class="fa fa-lock"></i>
          <input type="password" class="form-control" id="password_confirm" name="password_confirm"
            placeholder="Confirm your password" />
        </div>
        <div class="submit_btn_disable_reg disible-control"></div>
        <button type="submit" value="submit" id="signup" class="btn submit_btn">
          Create
        </button>
      </div>
      <p>Already have an account? click <a href="/login">here</a></p>
    </form>
  </div>
</section>
<!--================login Banner Area =================-->
<script src="/js/signup.js"></script>
<%- include('_footer')%>