@media (max-width:1600px){
     .header_area .container{
        padding: 0 50px;
    }
    .home_banner_area .container .media{
        width: 90%;
    }
}
@media (max-width:1200px){
     .header_area .container{
        padding: 0 50px;
    }
    .home_banner_area .container .media{
        transform: translate(-50%, 11%);
    }
    .home_banner_area .container .media .banner_content{
        display: block;
        width: 60%;
        margin: auto;

    }
    .blog_area_content_b {
        display: block;
        margin: auto;
    }
    .banner_content img {
        padding: 0;
        border-radius: 15px;
        width: -webkit-fill-available;
    }
    .blog-post{
        padding:0 20px;
    }

    .blog_area_content {
        display: block;
    }
    .blog_area_content .blog_left_sidebar{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:1000px){
     .welcome_inner{
         display: block;
     }
     .welcome_text {
        width: 100%;
        padding: 0;
    }
    .footer_inner {
        grid-template-columns: auto auto;
    }
    .f_widget{
        padding: 20px 20px;
    }
    .news_widget {
        padding: 20px 20px;
    }
}
@media (max-width:580px){
    
    .footer_inner {
        grid-template-columns: auto ;
    }
    .blog_item_b {
        padding: 0 15px;
    }
}
@media (min-width:820px){
    .navbar-nav {
       height: auto !important;
       opacity: 1 !important;
    }
}
@media (max-width:820px){
    .header_area {
        background: black;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translate(-50%,0%);
        top: 100%;
        left: 50%;
        width: 100%;
        background: black;
        z-index: 5;
        opacity: 0;
        height: 0px;
        transition: all 0.5s ease-in-out;
    }
    .menu_nav li {
        padding: 10px 20px;
    }
    .header_area .container ul {
        display: flex;
        flex-direction: column;
    }
    .button_nav {
        text-align: center;
        width: 100px;
        margin: 0 auto;
       
    }
    .navbar-nav {
        padding: 10px 0;
    }
    .navbar-toggler{
        display: block;
      }
}